<form action="/answer" data-turbo="false" method="get">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="question" placeholder="Whhat time is it?">
  <input type="submit" value="Ask!">
</form>
